<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>万能签 | 万能签分发平台，好用稳定的苹果超级签首选</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta content="万能签分发平台,提供稳定的苹果超级签,企业签,个人签,TF签,独立证书分配策略,保证签名稳定,随充随签,7X24小时服务." name="description">
    <meta content="超级签,万能签,超级签,企业签,个人签,TF签,IOS签,自动签名,苹果包分发平台" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/favicon.ico" type="image/png">
    <link href="./css/pc.css?v=0.1" type="text/css" rel="stylesheet"/>
    <style>
        .navbar-custom .navbar-brand img {
            height: 40px;
        }

        .btn-round1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fcfcfc;
        }

        @media only screen and (max-width: 767px) {
            .navbar-custom, .navbar-custom.affix {
                padding: 0;
            }

            .navbar-custom .navbar-brand {
                margin-top: 6px;
            }

            .navbar-custom.affix .navbar-brand {
                margin-top: 12px;
            }

            .navbar-custom .navbar-brand img {
                height: 28px;
            }

            .item-nav-view-div {
                overflow-x: scroll;
            }

            .footer-bottom-text-div {
                flex-direction: column;
            }
        }

        .item-nav-title {
            font-size: 18px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(65, 64, 64, 1);
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding-left: 28px;
            width: 100%;
        }

        .item-nav-title span {
            padding-bottom: 2px;
            font-size: 16px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(65, 64, 64, 1);
        }

        red {
            color: red;
        }

        .flex-row-center {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .item-nav-view {
            margin: 20px 30px;
            min-width: 240px;
            width: 243px;
            height: 319px;
            border: 1px solid rgba(168, 167, 167, 1);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .item-nqv-view-title {
            font-size: 18px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            padding: 24px 0px;
            color: rgba(52, 52, 52, 1);
        }

        .item-nav-view-img {
            width: 85px;
            height: 77px;
        }

        .item-nqv-view-num {
            padding: 24px 0px;
            font-size: 16px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #848484;
        }

        .item-nqv-view-num red {
            font-size: 24px;
        }

        .item-nqv-view-sumbit {
            width: 80%;
            height: 44px;
            color: #fff;
            text-align: center;
            background: rgba(110, 27, 198, 1);
            border-radius: 22px;
        }

        .footer-bottom-text {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            color: #fff;
        }

        .footer-bottom-text-div {
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        .footer-bottom-text-div div {
            width: 100px;
        }
    </style>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="70">
<div id="preloader">
    <div id="status"></div>
</div>

<!--begin 导航-->
<header>
    <nav id="navbar" class="navbar navbar-custom navbar-fixed-top" data-spy="affix" data-offset-top="70">
        <div class="container">
            <div class="row">
                <div class="navbar-header page-scroll">


                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="right-nav text-right">
                        <ul class="nav navbar-nav menu">
                            <li>
                                <a href="#home">首页</a>
                            </li>
                            <li>
                                <a href="#blog">服务流程</a>
                            </li>
                            <li>
                                <a href="#broker">使用场景</a>
                            </li>
                            <li>
                                <a href="#topic">视频演示</a>
                            </li>
                            <li>
                                <a href="#question">常见问题</a>
                            </li>
                            <li>
                                <a href="#see">联系我们</a>
                            </li>
                            <li>
                                <a href="#news">行业资讯</a>
                            </li>
                        </ul>
                        <div class="nav-btn" style="margin-top: 5px;">
                            <a href="./login?typeData=1" class="btn grdnt-purple" style="color: #fff">
                                立即注册
                            </a>
                            <a href="./login" class="btn grdnt-purple" style="color: #fff">
                                立即登录
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="home" class="hero grdnt-purple bg-animate style-wave bg-trans-1">
        <div class="banner">
            <div class="container">
                <div class="row hero-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="intro-text light">
                                <h2>
                                    万能签一键分发平台
                                </h2>
                                <div class="spce"></div>
                                <p class="large">
                                    App防闪退功能，账号被封，证书撤销，应用照常使用
                                </p>
                                <p class="large">
                                    独立部署到单独服务机器，最高性价比
                                </p>
                                <p class="large">
                                    可更新推送，安卓合并，最大下载支持5g
                                </p>
                                <p class="large">
                                    下载预警，新增机器udid查询
                                </p>
                                <div class="btn-holder">
                                   <!--  <a class="btn btn-white" data-target=".bs-example-modal-sm"
                                       th:href="'tencent://message/?uin=' + ${main} + '&amp;Site=qq&amp;Menu=yes'"
                                       target="_blank">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>联系客服</span>
                                    </a> -->
                                    <a class="btn btn-border" href="./login" target="_blank">
                                        <i class="fa fa-rocket" aria-hidden="true"></i>
                                        <span>发布应用</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="img-pre col-md-offset-1 col-md-5 col-sm-6">
                            <div class="slide-side text-center">
                                <img class="phone" alt="" src="./img/phone.png">
                                <div class="owl-carousel nplr app-slide-auto">
                                </div>
                            </div>
                            <a class="btn-round video btn-round1" href="./img/app.mp4">
                                <i class="fa fa-play clip-txt" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end   导航-->

<!--begin 我们优势-->
<section id="pair" class="sec-pad-sm bg-animate">
    <div class="container">
        <div class="row">
            <div class="section-text text-center">
                <h3 class="clr-blue">我们优势</h3>
                <p class="large">
                    自研发的签名技术，为您的Apple保驾护航
                </p>
            </div>
            <div class="items">
                <div class="text-center owl-carousel col-feat feat-slide grad-prple shad-item col-content hover">
                    <div data-toggle="modal" data-target=".bs-example-modal-sm">
                        <div class="icon-md">
                            <span class="clip-txt ti-spray"></span>
                        </div>
                        <div class="spce sm"></div>
                        <h5>签名账号独立</h5>
                        <p>签名账号每个用户独立，避免互相污染</p>
                    </div>
                    <div data-toggle="modal" data-target=".bs-example-modal-sm">
                        <div class="icon-md">
                            <span class="clip-txt ti-search"></span>
                        </div>
                        <div class="spce sm"></div>
                        <h5>安装统计报表</h5>
                        <p>每个安装设备均有统计，确保设备数量全程使用透明</p>
                    </div>
                    <div data-toggle="modal" data-target=".bs-example-modal-sm">
                        <div class="icon-md">
                            <span class="clip-txt ti-harddrives"></span>
                        </div>
                        <div class="spce sm"></div>
                        <h5>技术稳定 </h5>
                        <p>支持有锁包上传，支持中文包,可更新推送，安卓合并</p>
                    </div>
                    <div data-toggle="modal" data-target=".bs-example-modal-sm">
                        <div class="icon-md">
                            <span class="clip-txt ti-comments"></span>
                        </div>
                        <div class="spce sm"></div>
                        <h5>没有限制 </h5>
                        <p>同一台设备不限app，不限时间，不限更新次数</p>
                    </div>
                    <div data-toggle="modal" data-target=".bs-example-modal-sm">
                        <div class="icon-md">
                            <span class="clip-txt ti-save"></span>
                        </div>
                        <div class="spce sm"></div>
                        <h5>高效推广 </h5>
                        <p>可更新代理功能，独立后台，可增加下级代理</p>
                    </div>

                    <div data-toggle="modal" data-target=".bs-example-modal-sm">
                        <div class="icon-md">
                            <span class="clip-txt ti-mobile"></span>
                        </div>
                        <div class="spce sm"></div>
                        <h5>无需越狱</h5>
                        <p>无需越狱，无需设备UDID，无需企业签名，按需购买</p>
                    </div>
                    <div data-toggle="modal" data-target=".bs-example-modal-sm">
                        <div class="icon-md">
                            <span class="clip-txt ti-bolt"></span>
                        </div>
                        <div class="spce sm"></div>
                        <h5>高性能验证</h5>
                        <p>无需导入p12 p8 直接添加开发者账号密码，二次验证即可</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="rect1">
        <img src="./img/shape-1.png">
    </div>
    <div class="rect2">
        <img src="./img/shape-2.png">
    </div>
    <div class="rect3">
        <img src="./img/shape-3.png">
    </div>
    <div class="rect4">
        <img src="./img/shape-4.png">
    </div>
</section>
<!--end  我们优势-->

<!--begin  数据统计-->
<section id="success" class="sec-pad-sm light grdnt-purple">
    <div class="container">
        <div class="row">
            <div class="static-warapper text-center grad-prple">
                <div class="col-sm-3 counter-wrapper res-margin-sm">
                    <div class="top-row">
                        <div class="icon icon-md">
                            <span class="ti-heart"></span>
                        </div>
                        <h2><span class="counter">10000</span>+</h2>
                    </div>
                    <p>上传应用数</p>
                </div>
                <div class="col-sm-3 counter-wrapper res-margin-sm">
                    <div class="top-row">
                        <div class="icon icon-md">
                            <span class="ti-import"></span>
                        </div>
                        <h2><span class="counter">50000</span>+</h2>
                    </div>
                    <p>签名应用数</p>
                </div>
                <div class="col-sm-3 counter-wrapper">
                    <div class="top-row">
                        <div class="icon icon-md">
                            <span class="ti-plug"></span>
                        </div>
                        <h2><span class="counter">28000000</span>+</h2>
                    </div>
                    <p>累计下载次数</p>
                </div>
                <div class="col-sm-3 counter-wrapper">
                    <div class="top-row">
                        <div class="icon icon-md">
                            <span class=" ti-comments-smiley"></span>
                        </div>
                        <h2><span class="counter">99.8</span></h2>
                    </div>
                    <p>客户满意度</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end   数据统计-->

<!--begin  服务流程-->
<section id="blog" class="sec-pad-lg bg-gray">
    <div class="container">
        <div class="row">
            <div class="section-text text-center">
                <h3 class="clr-blue">服务流程</h3>
                <p class="large">从购买到使用，步骤清晰有保障</p>
            </div>
            <div class="post row text-center">
                <div class="col-sm-3 counter-wrapper res-margin-sm">
                    <div class="top-row">
                        <div class="icon icon-lg">
                            <span class="clip-txt ti-upload"></span>
                        </div>
                        <h3>上传IPA包</h3>
                    </div>
                    <p>只需要在我们平台上传IPA包即可</p>
                </div>
                <div class="col-sm-3 counter-wrapper res-margin-sm">
                    <div class="top-row">
                        <div class="icon icon-lg">
                            <span class="clip-txt ti-mobile"></span>
                        </div>
                        <h3>按需购买</h3>
                    </div>
                    <p>购买数量可以自定义，不浪费</p>
                </div>
                <div class="col-sm-3 counter-wrapper">
                    <div class="top-row">
                        <div class="icon icon-lg">
                            <span class="clip-txt ti-save"></span>
                        </div>
                        <h3>签名成功</h3>
                    </div>
                    <p>整个过程全自动</p>
                </div>
                <div class="col-sm-3 counter-wrapper">
                    <div class="top-row">
                        <div class="icon icon-lg">
                            <span class="clip-txt ti-link"></span>
                        </div>
                        <h3>生成链接</h3>
                    </div>
                    <p>生成专属下载页面，发布供用户下载</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end    服务流程-->

<!--begin 超低价格-->
<!--<section id="slip" class="sec-pad-lg brdr-btm pb-0 light grdnt-purple">
    <div class="container">
        <div class="row">
            <div class="overview flx-container align-flx-center flx-off-xs row col-md-10 col-md-offset-1">
                <div class="col-sm-6 res-margin-sm">
                    <div class="overview-text res-center-sm">
                        <h3>超低价格</h3>
                        <div class="spce sm"></div>
                        <p>1、因机制与企业签名不同</p>
                        <p>2、只需支付一次获客成本即可</p>
                        <p>3、同一台设备下载安装该应用不限制下载次数</p>
                        <div class="btn-holder grad-prple">
                            <a class="btn grdnt-purple" data-toggle="modal" data-target=".bs-example-modal-sm">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>联系客服</span>
                            </a>
                            <a class="btn grdnt-purple fill" data-toggle="modal" data-target=".bs-example-modal-sm">
                                <i class="fa fa-rocket clip-txt" aria-hidden="true"></i>
                                <span class="clip-txt">发布应用</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-offset-1">
                    <div class="overview-img animated wow fadeIn" data-wow-delay=".2s">
                        <img alt="" src="./img/img-d.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- <section id="slip" class="sec-pad-lg brdr-btm light grdnt-purple" style="padding: 40px 0px 20px">
    <div class="container">
        <div class="row">
            <div class="section-text text-center"
                 style="flex-direction: column;margin: 0px auto">
                <h3>套餐价格</h3>
                <p style="font-size:18px;font-family:Microsoft YaHei;font-weight:400;">即刻购买，告别掉签烦恼，提高分发效率，降低获客成本</p>
            </div>
        </div>
    </div>
</section>

<section class="sec-pad-lg" style="padding: 20px 0px 30px">
    <div class="container">
        <div class="row">
            <div class="overview flx-container"
                 style="flex-direction: column"
            >
                <div class="item-nav-title">公池版价格<span>（低至<red>12</red>元起）</span></div>
                <div class="item-nav-view-div flex-row-center">
                    <div class="item-nav-view">
                        <div class="item-nqv-view-title">3台设备</div>
                        <img class="item-nav-view-img" src="./img/iphone.png">
                        <div class="item-nqv-view-num">
                            <red>18</red>
                            元/台
                        </div>
                        <a class="btn grdnt-purple item-nqv-view-sumbit" data-toggles="modal"
                           href="./login"
                           data-target=".bs-example-modal-sm">
                            <span class="clip-txt">立即购买</span>
                        </a>
                    </div>
                    <div class="item-nav-view">
                        <div class="item-nqv-view-title">100台设备</div>
                        <img class="item-nav-view-img" src="./img/iphone.png">
                        <div class="item-nqv-view-num">
                            <red>13</red>
                            元/台
                        </div>
                        <a class="btn grdnt-purple item-nqv-view-sumbit" data-toggle="modal"
                           href="./login"
                           data-target=".bs-example-modal-sm">
                            <span class="clip-txt">立即购买</span>
                        </a>
                    </div>
                    <div class="item-nav-view">
                        <div class="item-nqv-view-title">500台设备</div>
                        <img class="item-nav-view-img" src="./img/iphone.png">
                        <div class="item-nqv-view-num">
                            <red>12.5</red>
                            元/台
                        </div>
                        <a class="btn grdnt-purple item-nqv-view-sumbit" data-toggle="modal"
                           href="./login"
                           data-target=".bs-example-modal-sm">
                            <span class="clip-txt">立即购买</span>
                        </a>
                    </div>
                    <div class="item-nav-view">
                        <div class="item-nqv-view-title">1000台设备</div>
                        <img class="item-nav-view-img" src="./img/iphone.png">
                        <div class="item-nqv-view-num">
                            <red>12</red>
                            元/台
                        </div>
                        <a class="btn grdnt-purple item-nqv-view-sumbit" data-toggle="modal"
                           href="./login"
                           data-target=".bs-example-modal-sm">
                            <span class="clip-txt">立即购买</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="overview flx-container"
                 style="flex-direction: column"
            >
                <div class="item-nav-title">私有价格<span>（低至<red>1.8</red>元起）</span></div>
                <div class="item-nav-view-div flex-row-center">
                    <div class="item-nav-view">
                        <div class="item-nqv-view-title">10台设备</div>
                        <img class="item-nav-view-img" src="./img/iphone.png">
                        <div class="item-nqv-view-num">
                            <red>3</red>
                            元/台
                        </div>
                        <a class="btn grdnt-purple item-nqv-view-sumbit" data-toggle="modal"
                           href="./login"
                           data-target=".bs-example-modal-sm">
                            <span class="clip-txt">立即购买</span>
                        </a>
                    </div>
                    <div class="item-nav-view">
                        <div class="item-nqv-view-title">100台设备</div>
                        <img class="item-nav-view-img" src="./img/iphone.png">
                        <div class="item-nqv-view-num">
                            <red>2.5</red>
                            元/台
                        </div>
                        <a class="btn grdnt-purple item-nqv-view-sumbit" data-toggle="modal"
                           href="./login"
                           data-target=".bs-example-modal-sm">
                            <span class="clip-txt">立即购买</span>
                        </a>
                    </div>
                    <div class="item-nav-view">
                        <div class="item-nqv-view-title">500台设备</div>
                        <img class="item-nav-view-img" src="./img/iphone.png">
                        <div class="item-nqv-view-num">
                            <red>2.2</red>
                            元/台
                        </div>
                        <a class="btn grdnt-purple item-nqv-view-sumbit" data-toggle="modal"
                           href="./login"
                           data-target=".bs-example-modal-sm">
                            <span class="clip-txt">立即购买</span>
                        </a>
                    </div>
                    <div class="item-nav-view">
                        <div class="item-nqv-view-title">1000台设备</div>
                        <img class="item-nav-view-img" src="./img/iphone.png">
                        <div class="item-nqv-view-num">
                            <red>1.8</red>
                            元/台
                        </div>
                        <a class="btn grdnt-purple item-nqv-view-sumbit" data-toggle="modal"
                           href="./login"
                           data-target=".bs-example-modal-sm">
                            <span class="clip-txt">立即购买</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="overview flx-container "
                 style="flex-direction: column"
            >
                <div class="item-nav-title">
                    <red>注：私有版需要自备个人开发者账号，详情请咨询客服。</red>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slip" class="sec-pad-lg brdr-btm light grdnt-purple" style="padding:30px">
</section> -->
<!--end   超低价格-->

<!--begin  使用场景-->
<section id="broker" class="sec-pad-lg">
    <div class="section-text text-center">
        <h3 class="clr-blue">使用场景</h3>
        <p class="large">我们能为你定制各种使用场景</p>
    </div>
    <div class="owl-carousel quote">
        <div class="quote-item">
            <div class="quote-text">
                <p>
                    对于首次公开下单的APP,一般下载量不大,但是重要性不言而喻,选择万能签使用您自己的个人开发者账号即可自动化签名，用户扫码一键安装，提高留存，给您首批种子用户带来最好的体验。
                </p>
                &nbsp;
            </div>
            <div class="spce md"></div>
            <img alt="" src="./img/broker5.jpg">
            <div class="reg-tag clearfix">
                <h6 class="heading">首次公开APP</h6>
                <p>互联网</p>
            </div>
        </div>

        <div class="quote-item">
            <div class="quote-text">
                <p>
                    对于相对成熟并且下载量极大的APP，可通过万能签有效打造您自己的签名，万能签私有版只需您有足够的个人账号并且购买价格低廉的签名次数，即可开启自己的签名旅程！
                </p>
            </div>
            <div class="spce md"></div>
            <img alt="" src="./img/broker1.jpg">
            <div class="reg-tag clearfix">
                <h6 class="heading">成熟性APP</h6>
                <p>游戏</p>
            </div>
        </div>

        <div class="quote-item">
            <div class="quote-text">
                <p>
                    对于公司团队内测，万能签告别频繁添加UDID的流程、在线随传随用、方便快捷！
                </p>
                &nbsp;</br>
                &nbsp;</br>
                &nbsp;</br>
            </div>
            <div class="spce md"></div>
            <img alt="" src="./img/broker6.jpg">
            <div class="reg-tag clearfix">
                <h6 class="heading">内侧型APP</h6>
                <p>政府机构</p>
            </div>
        </div>

        <div class="quote-item">
            <div class="quote-text">
                <p>
                    对于开发外包公司多个应用使用专属私有版，测试人员可随意安装同一账号下的任何应用，随时更新随时提醒，且每个终端下载不同app仅消耗一个安装量。
                </p>
                &nbsp;</br>
                &nbsp;</br>
            </div>
            <div class="spce md"></div>
            <img alt="" src="./img/broker4.jpg">
            <div class="reg-tag clearfix">
                <h6 class="heading">外包型APP</h6>
                <p>设计</p>
            </div>
        </div>

        <div class="quote-item">
            <div class="quote-text">
                <p>
                    对于自动化签名，万能签可帮您排除难点，轻松自动化签名，一键分发，随时观察使用情况，分析用户数据。
                </p>
                &nbsp;</br>
                &nbsp;</br>
            </div>
            <div class="spce md"></div>
            <img alt="" src="./img/broker2.jpg">
            <div class="reg-tag clearfix">
                <h6 class="heading">稳定性APP</h6>
                <p>外贸</p>
            </div>
        </div>
    </div>
</section>
<!--end    使用场景-->

<!--begin  视频演示-->
<section id="topic" class="grdnt-purple parallaxie style--alt overly" style='background: url("./img/bg-parallax.jpg")'>
    <div class="container sec-pad-lg">
        <div class="row">
            <div class="text-center light">
                <h3>视频演示</h3>
                <p class="large">视频下为真实下载应用，简单易用</p>
            </div>
            <div class="text-center grad-prple">
                <a class="btn-round video" href="./img/app.mp4">
                    <i class="fa fa-play clip-txt" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!--end    视频演示-->

<!--begin 常见问题-->
<section id="question" class="sec-pad-lg grad-prple">
    <div class="container">
        <div class="row">
            <div class="section-text text-center">
                <h3 class="clr-blue">常见问题</h3>
                <p class="large">使用万能签经常遇到的一些问题</p>
            </div>
            <div class="row" data-toggle="modal" data-target=".bs-example-modal-sm">
                <div class="col-md-10 col-md-offset-1 faq">
                    <div class="panel-group res-margin" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=""
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        同一台设备安装不同应用或版本，消耗设备量和签名次数吗？
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    按需购买，同设备多次下载，或下载多款应用下载，只收费一次。
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        签名需要多长时间？
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    我们的签名是完全自动化的，一般可在数秒内完成。
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        更新包怎么办？
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    你需要再你的APP上面做一个带有https链接的ipa包即可，用户直接更新，无需重新下载操作。
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        需要提供 App 的源码吗？
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    不需要提供，仅需要提供 ipa 格式的安装包即可。
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        是否有第三方工具代签?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    对接mac自主程序签名，不用任何第三方工具。
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        签名的 App 可以在 App Store 搜索到吗?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    不能，应用管理后的 App 可以直接将链接发给用户安装，无需越狱，无需苹果账号，无需苹果审核。
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        对安装包的大小是否有限制？
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    应用包大小建议不超过 150M ，最高不能大于 2048M 。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--资讯-->
<section id="news" class="sec-pad-lg grad-prple" style="padding-top: 0px">
    <div class="container">
        <div class="row">
            <div class="section-text text-center">
                <h3 class="clr-blue">行业资讯</h3>
                <p class="large">关于万能签的一些资讯</p>
            </div>
            <div class="row" data-toggle="modal" data-target=".bs-example-modal-sm">
                <div class="col-md-10 col-md-offset-1 faq">
                    <div class="panel-group res-margin" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        企业签，值得信赖！
                                    </a>
                                </h4>
                            </div>
                            <a href="https://zx.tf4a.com/14.html" target="_blank" style="color:inherit !important; ">
                                <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        随着互联网的发展，大家对于企业签应该都不陌生。对于许多公司如果没有这个签名在苹果系统上就无法应用，这样对于公司会有一部分损失，针对于这个缺口近年来企业的签名近年来非常盛行。市面上随着需求量大，有许多公司都是在从事这一行..
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default" style="margin-top: 20px">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        签名：如何判断苹果企业签名是否失效？
                                    </a>
                                </h4>
                            </div>
                            <a href="https://zx.tf4a.com/13.html" target="_blank" style="color:inherit !important; ">
                                <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        我们在安装时或多或少的会遇到无法下载APP的情况，那么这是什么原因引起的呢?其实这种情况一般都是企业签名失效了，但是不排除其他可能，至于我们应该如何判断企业签名是否失效，请看下面几点!
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default" style="margin-top: 20px">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        签名：如何选择靠谱的ios企业签名？
                                    </a>
                                </h4>
                            </div>
                            <a href="https://zx.tf4a.com/12.html" target="_blank" style="color:inherit !important; ">
                                <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        网上骗纸太多了，做企业署名的骗纸尤为多。苹果企业署名许多人基础不打听，即便你是做技术的，刚触碰这块也很轻易被骗被骗。被骗一次丧失轻者两三百，重者一两万，辣么怎样才气防备被骗呢？开始咱们要晓得骗纸的几种手法。
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default" style="margin-top: 20px">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href=""
                                       style="cursor: initial"
                                       aria-expanded="true" aria-controls="collapseOne" class="">
                                        <i class="more-less glyphicon glyphicon-minus"></i>
                                        万能签签名：关于苹果企业签名的冷知识
                                    </a>
                                </h4>
                            </div>
                            <a href="https://zx.tf4a.com/11.html" target="_blank" style="color:inherit !important; ">
                                <div id="collapseOne" class="panel-collapse collapse in bg-light" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        就目前的情况而言，手机应用主要分为安卓端和ios端两种，然后去安卓的应用市场或者苹果的App Store里去下载应用，每个应用在开发完成后，基本都是要上架应用市场的，而苹果端的分发又是不可避免的。
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end  常见问题-->
<!--begin  视频演示-->
<section id="see" class="grdnt-purple parallaxie style--alt overly">
    <div class="container sec-pad-lg" style="padding: 50px 0px 40px;">
        <div class="row">
            <div class="text-center light">
                <h3>联系我们</h3>
                <p class="large"></p>
            </div>
            <div class="text-center grad-prple">
                <!--<p style="color:#fff;font-size:18px;">联系人： 大圣   &nbsp;
                 QQ:<span th:text="${qqList[0].value}"></span>     &nbsp;
                  微信：<span th:text="${wxList[0].value}"></span>   &nbsp;
                  邮箱：<span th:text="${qqList[0].value} + '@qq.com'"></span></p>-->
                <!--<div class="footer-bottom-text">
                    <div class="footer-bottom-text-div">
                        联系人：
                        <div>橘子</div> &nbsp;
                        QQ：
                        <div>113981208</div> &nbsp;
                    </div>
                    <div class="footer-bottom-text-div">
                        微信：
                        <div>dunkshost-23</div> &nbsp;
                        邮箱：
                        <div>113981208@qq.com</div>
                    </div>
                </div>-->
                <!--<div style="color:#fff;">联系人：大圣 &nbsp;
                    QQ：<span></span> &nbsp;
                    微信：<span></span> &nbsp;
                    邮箱：<span></span>
                </div>-->
                <!--<div style="color:#fff;">联系人：大圣 &nbsp;
                    QQ：<span></span> &nbsp;
                    微信：<span></span> &nbsp;
                    邮箱：<span></span>
                </div>-->
            </div>
        </div>
    </div>
</section>

<style>
    .side {
        position: fixed;
        right: 0;
        top: 30%;
        width: 160px;
        z-index: 100;
        border-bottom: 0;
        padding: 0;
        margin: 0;
        font-family: "微软雅黑"
    }

    .side ul {
        margin: 0;
        padding: 0;
    }

    .side ul li {
        padding: 10px;
        border: 1px solid #6d1bc6;
        border-radius: 5px;
        margin-top: 2px;
        background: white;
        font-size: 10px;
        list-style: none;
    }

    .side ul li:nth-child(3) {
        padding: 0px;
    }

    .side ul li p {
        color: #6a6c6f;
    }

    .service-line {
        width: 100%;
        height: 2px;
        border-bottom: 1px dashed #6d1bc6;
    }

    .side ul li:first-child {
        color: white;
        background: linear-gradient(135deg, #6d1bc6 40%, #fa0076 100%);
    }

    .side .wx-icon {
        width: 26px;
    }

    .side .qbox {
    }

    .qbox {
        margin-right: 2px;
    }

    .phone-icon {
        margin: 10px 0px 10px 10px;
    }

    .side .wx-service {
        width: 100%;
    }

    .side ul li a {
        text-decoration: none;
    }

    .side ul li a:hover {
        color: #6a6c6f;
    }

    .wx-hover {
        position: relative;
        cursor: pointer;
    }

    .wx-hover-img {
        display: none;
        position: absolute;
        right: 180px;
        width: 200px;
        height: auto;
        background: #fff;
        border: 2px solid rgba(110, 27, 198, 1);
    }

    .wx-hover:hover .wx-hover-img {
        display: block;
    }
</style>
<!-- <div class="side">
    <ul>
        <li class="text-center">万能签在线客服</li>
        <li class="">
            QQ
            <div th:each="qq : ${qqList}">
                <a th:href="'http://wpa.qq.com/msgrd?v=3&amp;uin=' + ${qq.value} + '&amp;site=qq&amp;menu=yes'"
                   target="_blank"
                   rel="nofollow" style="display: flex;flex-direction: row;align-items: center;margin-top: 5px">
                    <img class="wx-icon" src="./img/service_qq_icon.jpeg" alt="" style="float:left">
                    <div class="qbox"
                         style="display: flex;flex-direction: column;justify-content: center;align-items: flex-start;margin-left: 10px">
                        <div class="line-10" style="font-weight: bold">点击咨询</div>
                        <div class="line-10" style="color:#66ccff;font-weight: bold" th:text="${qq.value}"></div>
                    </div>
                </a>
            </div>
            微信
            <div th:each="wx : ${wechatList}">
                <div class="wx-hover"
                     rel="nofollow" style="display: flex;flex-direction: row;align-items: center;margin-top: 5px">
                    <img class="wx-icon" src="./img/service_weixin_icon.png" alt="" style="float:left">
                    <div class="qbox"
                         style="display: flex;flex-direction: column;justify-content: center;align-items: flex-start;margin-left: 10px">
                        <div class="line-10" style="font-weight: bold">添加咨询</div>
                        <div class="line-10 " style="color:rgb(9, 187, 7);font-weight: bold"
                             th:text="${wx.value}"></div>
                    </div>
                    <img class="wx-hover-img" th:src="'./img/'+${wx.value}+'.jpg'">
                </div>
            </div>
            <div >
                <div class="wx-hover"
                   rel="nofollow" style="display: flex;flex-direction: row;align-items: center;margin-top: 5px">
                    <img class="wx-icon" src="./img/service_weixin_icon.png" alt="" style="float:left">
                    <div class="qbox" style="display: flex;flex-direction: column;justify-content: center;align-items: flex-start;margin-left: 10px">
                        <div class="line-10" style="font-weight: bold">添加咨询</div>
                        <div class="line-10 " style="color:rgb(9, 187, 7);font-weight: bold"  >tuom2727</div>
                    </div>
                    <img class="wx-hover-img" src="./img/tuom2727.jpg">
                </div>
             </div> 
        </li>
    </ul>
</div> -->


<script src="./js/jquery.min.js"></script>
<script src="./js/pc.js"></script>
<!--<script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1278852146&web_id=1278852146"></script>-->
</body>
</html>